* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

section {
  padding: 2rem 9%;
}

img {
  width: 100%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding: 0.8rem 3rem;
  background: #ffee80;
  color: #130f40;
  font-weight: 500;
  font-size: 1.7rem;
  cursor: pointer;
}
.btn:hover {
  background: #f9d806;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 4.5rem;
  color: #130f40;
}
.heading span {
  position: relative;
  z-index: 0;
}
.heading span::before {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f9d806;
  z-index: -1;
  clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0 100%);
}

.header {
  position: fixed;
  inset: 0 0 auto;
  z-index: 999;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 9%;
}
.header.active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
}
.header__logo {
  font-size: 2.5rem;
  color: #130f40;
  font-weight: bolder;
}
.header__logo span {
  color: #f9d806;
}
.header__navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: #130f40;
  text-transform: capitalize;
}
.header__navbar a:hover {
  color: #f9d806;
}
.header .btn {
  margin-top: 0;
}
.header__login-btn i {
  font-size: 2.5rem;
  color: #666;
  cursor: pointer;
  display: none;
}
.header__menu-btn {
  font-size: 2.5rem;
  background: transparent;
  color: #666;
  display: none;
  cursor: pointer;
}

.login-form {
  position: fixed;
  top: -105%;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.login-form.active {
  top: 0%;
  opacity: 1;
}
.login-form .fas.fa-times {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 4rem;
  color: #fff;
  cursor: pointer;
}
.login-form form {
  padding: 2rem;
  margin: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 45rem;
}
.login-form form .buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.login-form form .btn {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
}
.login-form form h3 {
  color: #130f40;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}
.login-form form p {
  padding: 1rem 0;
  font-size: 1.5rem;
  color: #666;
}
.login-form form a {
  color: #f9d806;
  text-decoration: underline;
}
.login-form form a:hover {
  color: #130f40;
  text-decoration: none;
}
.login-form__field {
  margin: 0.7rem 0;
  width: 100%;
  text-transform: none;
  color: #130f40;
  font-size: 1.6rem;
  padding: 1rem 1.2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.login-form__field:focus {
  border: 0.2rem solid #f9d806;
  transition: none;
}

.home {
  padding-top: 10rem;
  text-align: center;
}
.home__title {
  font-size: 5vw;
  text-transform: uppercase;
  color: #130f40;
}
.home__img {
  margin: 3rem 0;
}

.icons {
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  background: #eee;
}
.icons__wrap {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  background: #fff;
  border-radius: 0.5rem;
}
.icons__wrap i {
  height: 5.5rem;
  width: 5.5rem;
  line-height: 5.5rem;
  font-size: 2.5rem;
  text-align: center;
  border-radius: 50%;
  background: #eee;
}
.icons__wrap h3 {
  color: #f9d806;
  font-size: 2.5rem;
}
.icons__wrap p {
  color: #666;
  font-size: 1.5rem;
}
.icons__wrap:hover {
  background: #130f40;
}
.icons__wrap:hover i {
  background: #f9d806;
}
.icons__wrap:hover h3, .icons__wrap:hover p {
  color: #fff;
}

.veiculos__slider .swiper-pagination {
  position: static;
  margin-top: 5rem;
}
.veiculos__slider .swiper-pagination-bullet-active {
  background: #f9d806;
}
.veiculos .box {
  text-align: center;
  width: 30rem;
}
.veiculos .box img {
  opacity: 0.5;
  transform: scale(0.8);
}
.veiculos .box.swiper-slide-active img {
  opacity: 1;
  transform: scale(1);
}
.veiculos__content {
  opacity: 0;
  transform: scale(0);
  margin-top: 1rem;
}
.veiculos__content h3 {
  font-size: 2.5rem;
  color: #130f40;
}
.veiculos__content ul {
  font-size: 1.5rem;
  padding: 1.5rem 1rem 1rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.veiculos__content li {
  color: #666;
  text-align: left;
  display: inline-flex;
  align-items: center;
}
.veiculos__content li i {
  margin-right: 0.5rem;
  color: #f9d806;
  font-size: 0.8rem;
  padding: 0 0.5rem;
}
.veiculos__preco {
  font-size: 2.5rem;
  color: #f9d806;
  padding: 1rem 0;
  font-weight: bolder;
}
.veiculos__preco span {
  font-size: 1.7rem;
  color: #666;
  font-weight: normal;
}
.veiculos .swiper-slide-active .veiculos__content {
  opacity: 1;
  transform: scale(1);
}

.servicos .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}
.servicos .box-container .box {
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.servicos .box-container .box i {
  height: 6rem;
  width: 6rem;
  line-height: 6rem;
  font-size: 2.5rem;
  color: #130f40;
  background: #f9d806;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.servicos .box-container .box:hover {
  background: #130f40;
}
.servicos .box-container .box:hover .servicos__title, .servicos .box-container .box:hover .servicos__desc {
  color: #fff;
}
.servicos__title {
  color: #130f40;
  font-size: 2.2rem;
}
.servicos__desc {
  color: #666;
  margin: 0.5rem 0 1rem;
  line-height: 1.8;
}

.destaque .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.destaque .box-container .box {
  flex: 1 1 30rem;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.destaque .box-container .box:hover img {
  transform: scale(1.1);
}
.destaque__img {
  width: 25rem;
}
.destaque__title {
  font-size: 2.2rem;
  color: #130f40;
}
.destaque__stars {
  padding: 1rem 0;
}
.destaque__stars i {
  font-size: 1.7rem;
  color: #f9d806;
}
.destaque__price {
  font-size: 2.5rem;
  color: #130f40;
  font-weight: 500;
}

.newsletter {
  padding: 6rem 2rem;
  text-align: center;
  background-image: url(../image/letter-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.newsletter__title {
  color: #130f40;
  font-size: 3rem;
}
.newsletter__desc {
  color: #666;
  font-size: 1.5rem;
  padding: 1rem 0;
}
.newsletter__form {
  margin: 1rem auto;
  max-width: 60rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
}
.newsletter__form input[type=email] {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  padding-left: 1rem;
  color: #130f40;
}
.newsletter__form input[type=submit] {
  height: 100%;
  font-size: 1.7rem;
  background: #130f40;
  padding: 0 1rem;
  color: #fff;
  cursor: pointer;
}
.newsletter__form input[type=submit]:hover {
  letter-spacing: 0.2rem;
}

.reviews__slider {
  margin-bottom: 3rem;
}
.reviews__slider .box {
  padding: 2rem 1.5rem;
  margin: 2rem 0;
  text-align: center;
  opacity: 0.4;
  transform: scale(0.85);
}
.reviews__slider .box.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}
.reviews__slider .swiper-pagination {
  position: static;
  margin-top: 2rem;
}
.reviews__slider .swiper-pagination-bullet-active {
  background: #f9d806;
}
.reviews__img {
  width: 7rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
}
.reviews__desc {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}
.reviews__title {
  font-size: 2.2rem;
  color: #130f40;
  margin-bottom: 1rem;
}
.reviews__stars {
  font-size: 1.7rem;
  color: #f9d806;
}

.contato__row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.contato__map, .contato__form {
  flex: 1 1 42rem;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.contato__map {
  width: 100%;
}
.contato__title {
  font-size: 3rem;
  text-align: center;
  color: #130f40;
}
.contato__field {
  margin: 0.7rem 0;
  width: 100%;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  font-size: 1.6rem;
  color: #130f40;
  border-radius: 0.5rem;
}
.contato__field:focus {
  border-color: #f9d806;
}
.contato__form input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.contato__form textarea {
  height: 15rem;
  resize: none;
}

.footer {
  background: #ffee80;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.footer__title {
  color: #130f40;
  font-size: 2.2rem;
  padding: 1rem 0;
}
.footer__link {
  display: block;
  text-transform: capitalize;
  color: #130f40;
  padding: 1rem 0;
}
.footer__link i {
  margin-right: 0.5rem;
}
.footer__link:hover i {
  margin-left: 1.5rem;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header,
section {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .header__login-btn i {
    display: block;
  }
  .header__login-btn .btn {
    display: none;
  }
  .header__navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header__navbar a {
    display: block;
    margin: 2rem;
    font-size: 2rem;
  }
  .header__navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header__menu-btn {
    display: block;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
