@use 'variables' as *;
.home 
{
    padding-top: 10rem;
    text-align: center;

    &__title
    {
        font-size: 5vw;
        text-transform: uppercase;
        color: $black;
    }

    &__img
    {
        margin: 3rem 0;
    }
}