@use 'variables' as *;

.reviews
{
    &__slider
    {
        margin-bottom: 3rem;

        .box 
        {
            padding: 2rem 1.5rem;
            margin: 2rem 0;
            text-align: center;
            opacity: .4;
            transform: scale(.85);

            &.swiper-slide-active
            {
                opacity: 1;
                transform: scale(1);
                box-shadow: $box-shadow;
                border: $border;
            }
        }

        .swiper-pagination
        {
            position: static;
            margin-top: 2rem;
        }

        .swiper-pagination-bullet-active
        {
            background: $yellow;
        }
    }

    &__img 
    {
        width: 7rem;
        border-radius: 50%;
        margin-bottom: 1rem;
        object-fit: cover;
    }

    &__desc 
    {
        font-size: 1.5rem;
        color: $light-color;
        padding: 1rem 0;
    }

    &__title 
    {
        font-size: 2.2rem;
        color: $black;
        margin-bottom: 1rem;
    }

    &__stars 
    {
        font-size: 1.7rem;
        color: $yellow;
    }
}