@use 'variables' as *;

.servicos 
{
    .box-container 
    {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
        gap: 1.5rem;


        .box 
        {
            text-align: center;
            padding: 2rem;
            border-radius: .5rem;
            box-shadow: $box-shadow;
            border: $border;

            i 
            {
                height: 6rem;
                width: 6rem;
                line-height: 6rem;
                font-size: 2.5rem;
                color: $black;
                background: $yellow;
                border-radius: 50%;
                margin-bottom: 1rem;
            }

            &:hover 
            {
                background: $black;
            }

            &:hover .servicos__title,
            &:hover .servicos__desc
            {
                color: $white;
            }

        }
    }

    &__title 
    {
        color: $black;
        font-size: 2.2rem;
    }

    &__desc 
    {
        color: $light-color;
        margin: .5rem 0 1rem;
        line-height: 1.8;
    }
}