@use 'variables' as *;

.veiculos
{
    &__slider
    {
        .swiper-pagination
        {
            position: static;
            margin-top: 5rem;
        }

        .swiper-pagination-bullet-active
        {
            background: $yellow;
        }
    }

    .box 
    {
        text-align: center;
        width: 30rem;

        img 
        {
            opacity: .5;
            transform: scale(.8);
        }

        &.swiper-slide-active img
        {
            opacity: 1;
            transform: scale(1);
        }
    }

    &__content
    {
        opacity: 0;
        transform: scale(0);
        margin-top: 1rem;

        h3 
        {
            font-size: 2.5rem;
            color: $black;
        }

        ul
        {
            font-size: 1.5rem;
            padding: 1.5rem 1rem 1rem;
            border-top: $border;
        }

        li
        {
            color: $light-color;
            text-align: left;
            display: inline-flex;
            align-items: center;

            i 
            {
                margin-right: .5rem;
                color: $yellow;
                font-size: .8rem;
                padding: 0 .5rem;
            }
        }

    }

    &__preco
    {
        font-size: 2.5rem;
        color: $yellow;
        padding: 1rem 0;
        font-weight: bolder;

        span 
        {
            font-size: 1.7rem;
            color: $light-color;
            font-weight: normal;
        }
    }

    .swiper-slide-active .veiculos__content
    {
        opacity: 1;
        transform: scale(1);
    }

}


